
<label class="heading location-heading pl-3" for="location">Select a location: </label>
<div id="locationsList">

	<% materials.each do |holding| %>

    <div class="row align-items-top">
      <input class="sms-form-locations" type="radio" name="holding_id" id="<%= holding["holding_id"] %>" value="<%= holding["holding_id"] %>">

      <label for="<%= holding["holding_id"] %>">
        <%= holding["current_library"] %> (<%= holding["current_location"] %>)<br />
        <span>(<%= holding["call_number"] %>)</span>
        <%= render_non_available_status_only(holding["availability"]) %>
        <br />
      </label>
    </div>

	<% end %>
</div>
